@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

@import "components/status-bar.css";
@import "components/screen-header.css";
@import "";
/*COMPONENTS*/

@import "screens/login-form.css";
@import "";
/*SCREENS*/

body {
  font-family: "Open Sans", sans-serif;
}
